#       examples/client
#       examples/gethostbyaddr
#       examples/gethostbyname
#       examples/hdr
#       examples/msg
#       examples/qstring
#       examples/server
#       lsf/man/man1/xman

